extends layout 

block content 
    if(category.materials.length > 0)
        h1 To delete the #{category.name}, you must first delete the following materials in the #{category.name} category:
        ul
            each material in category.materials
                li 
                    a(href=`/store/material/${material._id}`) #{material.name}
    else 

        h1 Are you sure you want to delete #{category.name}?
        p= category.summary
        form.form-container-delete(method='POST')
           
            input(type='hidden', name='id', value=category._id)
            button.btn.btn-danger(type='submit') Delete
            a.btn.btn-secondary(href='/store/category') Cancel