extends layout

block content
  h1= page_title

  form.form-container(method='POST')
    .form-control
      label.form-label(for='cat_name') Name:
      input.form-input(type='text', name='cat_name', placeholder='Name', value= category ? category.cat_name : '', required)

    div 
      label(for='category_id')
      input(type='hidden', name='category_id', value= category ? category._id : '')

    .form-control
      label.form-label(for='summary') Summary
      textarea.form-input(name='summary', required)= category ? category.summary : ''

    

    div.form-control
      label.form-label(for='store_id') 
      select.form-input( name='store_id', value= category && category.store_id ? category.store_id : '')
        option(value="") Please select a store 
        for store in stores
          if( category && store.id === category.store_id)
            option(value=store.id selected=true) #{store.name}
          else
            option(value=store.id) #{store.name} 

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul.errors
      each error in errors
        li= error.msg

                    
