extends layout

block content
  h1= page_title

  form.form-container(method='POST')
   
    .form-control 
      label.form-label(for='address') Address:
      input.form-input(type='text', name='address', placeholder='Address', value= location ? location.address : '', required)

    .form-control 
      label.form-label(for='zip') Zip Code:
      input.form-input(type='text', name='zip', placeholder='Zip Code', value= location && location.zip ? location.zip : '', required)

    .form-control 
      label.form-label(for='state') State:
      input.form-input(type='text', name='state', placeholder='GA', value= location ? location.state : '', required)

    .form-control
      label.form-label(for='phoneNumber') Phone Number:
      input.form-input(type='text', name='phoneNumber', placeholder='Phone Number', value= location ? location.phoneNumber : '', required)

    .form-control
      label.form-label Open Days:
      if location
        for day in days
          div
            if location.open.includes(day)
              input.form-input(type='checkbox', name='open', value=day, checked)
            else
              input.form-input(type='checkbox', name='open', value=day)
            label(for=day) #{day}
      else
        for day in days
          div
            input.form-input(type='checkbox', name='open', value=day)
            label(for=day) #{day}
    .form-control 
      if(stores)
        label.form-label Select store:
        select(name="store_id") 
          for store in stores 
            option(value=store.id)  #{store.name} 
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul.errors 
      each error in errors 
        li= error.msg


                       
                    
                        