extends layout 

block content 
  h1= page_title 
  hr

  if count_by_state
    each state in count_by_state
      p There is #{state.count } #{state.count > 1 ? "locations" : "location"} in #{state.state}
      ul
        each location in state.locations
          li Address: 
            a(href='/store/location/'+ location.id) #{location.address}
          li Phone number: #{location.phone_number}
          hr
      hr    
