extends layout

block content
  h1= page_title

  p Below is the detail of the location you selected.
  hr

  p We are located at
    | &nbsp; #[strong #{location.address}, #{location.zip_code}, #{location.state} ]
  p Our phone number is #[strong #{location.phone_number}]

  if location.open
    p We are open on
      ul
        each day in formatted_schedule
          li
            | #{day} 
            if day.includes('Open')
              |&nbsp;
              if day.startsWith('Saturday') || day.startsWith('Sunday')
                |from #[strong 9:00 A.M] to #[strong 8:00 P.M]
              else
                |from #[strong 8:00 A.M] to #[strong 9:00 P.M]
            
  else
    p This location is closed for the time being.
    
  form(action="/store/verify-password", method="POST")
    input(type="hidden", name="id", value=`${location.id}`)
    input(type="hidden", name="action", value="update")
    input(type="hidden", name="path", value=`/store/location/${location.id}`)
    .form-control
      label(for="adminPassword") Admin Password:
      input.form-input(type="password", name="adminPassword", placeholder="Admin Password", required)
    button.btn.btn-primary(type="submit") Update Location

  form(action="/store/verify-password", method="POST")
    input(type="hidden", name="locationId", value=`${location.id}`)
    input(type="hidden", name="action", value="delete")
    input(type="hidden", name="path", value=`/store/location/${location.id}`)
    .form-control
      label(for="adminPassword") Admin Password:
      input.form-input(type="password", name="adminPassword", placeholder="Admin Password", required)
    button.btn.btn-danger(type="submit") Delete Location

